@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
}

a {
	text-decoration: none;
}

p {
	margin: 0.75rem 0;
}

/* Utility Classes */

.text-primary {
	color: #93cb52;
}

.lead-heading {
	font-size: 4rem;
	margin-bottom: 0.75rem;
	line-height: 1.1;
	background-color: #93cb52;
	padding: 0.6rem;
	border-radius: 0.5rem;
	border: none;
}

.lead-text {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.btn {
	color: #fff;
	background-color: #93cb52;
	padding: 0.5rem 1rem;
	border-radius: 0.32rem;
}

.btn:hover {
	background-color: #7ab436;
}

/* NavBar */

#navbar {
	background: #2a2a2a;
	color: #fff;

	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	padding: 1rem;
}

#navbar ul {
	list-style: none;
	padding-right: 2rem;

	display: flex;
	align-items: center;
}

#navbar ul li a {
	color: #fff;
	padding: 0.75rem;
	margin: 0 0.25rem;
}

#navbar ul li a:hover {
	background-color: #93cb52;
	border-radius: 0.32rem;
}

/* Showcase */

#showcase {
	background: #2a2a2a url(../images/showcase/calculator.jpg) no-repeat center center / cover;
	height: 100vh;
	color: #fff;
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 2rem;
	/* width: 100vw; */

	/* overlay */
	/* position: absolute; */
	top: 60px;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
